<%-include("partials/header.ejs") %>

<header>
  <div class="logo"><a href="">To-do List</a></div>
  <form action="/addtask" method="get">
    <input class="btn add-task" type="submit" value="Add Task" />
  </form>
</header>
<main>
  <h1><%= day %></h1>
  <div class="container">
    <% if(locals.tasks.length > 0) {%>
    <ul class="task-container">
        <h2 class="work">Work</h2>
        <% workTasks.forEach(task => { %>

            <li class="task">
                <p>
                    <span class="task-name"><%= task.name %>:</span> <%= task.desc %>
                </p>
                <span class="icon">
                    <i class="bi bi-check-circle-fill"></i>
                </span>
                
            </li>

        <% }) %>
        
    </ul>
    <ul class="task-container">
        <h2 class="personal">Personal Tasks</h2>
        <% personalTasks.forEach(task => { %>

            <li class="task">
                <p>
                    <span class="task-name"><%= task.name %>:</span> <%= task.desc %>
                </p>
                <span class="icon">
                    <i class="bi bi-check-circle-fill"></i>
                </span>
                
            </li>

        <% }) %>
        
    </ul>
    <%} else {%>
        <p>Nothing to show here! <a href="/addtask">Click here</a> to add some tasks.</p>
    <% } %>
  </div>
  <%-include("partials/footer.ejs")  %>
